MasterDegreeApplication.xcodeproj/project.xcworkspace/xcuserdata/
MasterDegreeApplication.xcodeproj/xcuserdata/
MasterDegreeApplication.xcworkspace/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/
*.DS_Store
xcuserdata
venv/
local_derived_data