MasterDegreeApplication.xcodeproj/project.xcworkspace/xcuserdata/**
MasterDegreeApplication.xcodeproj/xcuserdata/**
MasterDegreeApplication.xcworkspace/xcuserdata/**
Pods/Pods.xcodeproj/xcuserdata/**
xcuserdata
venv/